Onboarding.Service/Service References/ReviewService/ReviewService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://co1cdflweb03/Services/ReviewService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" />
  <xs:import schemaLocation="http://co1cdflweb03/Services/ReviewService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="CreateReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="author" nillable="true" type="q1:Author" />
        <xs:element minOccurs="0" name="reviewName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="projectShortName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="CreateReviewResult" nillable="true" type="q2:CodeReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTitleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageFromAuthor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="PublishReviewResult" nillable="true" type="q3:CodeReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageFromAuthor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompleteReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="CompleteReviewResult" nillable="true" type="q4:CodeReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpireReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExpireReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="ExpireReviewResult" nillable="true" type="q5:CodeReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageFromAuthor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="WithdrawReviewResult" nillable="true" type="q6:CodeReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReactivateReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageFromAuthor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReactivateReviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteReviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuditLogEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="arguments" nillable="true" type="q7:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuditLogEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuditLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="auditLog" nillable="true" type="q8:AuditLog" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuditLogResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="customDataToSet" nillable="true" type="q9:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCustomDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="workItems" nillable="true" type="q10:ArrayOfWorkItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetWorkItemsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="GetReviewResult" nillable="true" type="q11:CodeReview" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currRevision" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="CheckUpdatesResult" type="q12:ReviewUpdateCode" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PokeReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PokeReviewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCodePackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="codePackage" nillable="true" type="q13:CodePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCodePackageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="AddCodePackageResult" nillable="true" type="q14:CodePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCodePackage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codePackageName" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="codePackage" nillable="true" type="q15:CodePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCodePackageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCodePackageStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codePackageName" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="status" type="q16:CodePackageStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCodePackageStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIteration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="iteration" nillable="true" type="q17:ReviewIteration" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="codePackages" nillable="true" type="q18:ArrayOfCodePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddIterationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="AddIterationResult" nillable="true" type="q19:ReviewIteration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIteration">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="iteration" nillable="true" type="q20:ReviewIteration" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="codePackages" nillable="true" type="q21:ArrayOfCodePackage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIterationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIterationStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revision" type="xs:int" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="status" type="q22:IterationStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateIterationStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="comment" nillable="true" type="q23:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="AddCommentResult" nillable="true" type="q24:Comment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartCommentThread">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="thread" nillable="true" type="q25:CommentThread" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartCommentThreadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="StartCommentThreadResult" nillable="true" type="q26:CommentThread" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawCommentThread">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="threadId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawCommentThreadResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WithdrawCommentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommentThreadStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="threadId" type="xs:int" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="status" type="q27:CommentThreadStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCommentThreadStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LikeComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="commentId" type="xs:int" />
        <xs:element minOccurs="0" name="isLike" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LikeCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="LikeCommentResult" nillable="true" type="q28:ArrayOfLike" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="currRevision" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReviewCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="GetReviewCommentsResult" nillable="true" type="q29:ArrayOfCommentThread" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReviewers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="reviewers" nillable="true" type="q30:ArrayOfReviewer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddReviewersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveReviewers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="reviewerNames" nillable="true" type="q31:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveReviewersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewerStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reviewerName" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="status" type="q32:ReviewerStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewerStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewerType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reviewerName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="required" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateReviewerTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuthorStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="status" type="q33:AuthorStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuthorStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorPing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="messageFromAuthor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorPingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLayer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeReviewKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="revision" type="xs:int" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="layer" nillable="true" type="q34:Layer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLayerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReviewsForReviewer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reviewerLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReviewsForReviewerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="GetActiveReviewsForReviewerResult" nillable="true" type="q35:ArrayOfCodeReviewSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReviewsForProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectShortName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReviewsForProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="GetActiveReviewsForProjectResult" nillable="true" type="q36:ArrayOfCodeReviewSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReviewsForAuthor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authorLogin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetActiveReviewsForAuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Microsoft.CodeFlow.ServiceModel" minOccurs="0" name="GetActiveReviewsForAuthorResult" nillable="true" type="q37:ArrayOfCodeReviewSummary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>